* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root {
    background-color: antiquewhite;
}

p {
    display: inline;
    font-size: 40px;
    margin-top: 0px;
  }